:root {
    /* --std-border: 1px solid black; */
    --std-border: none;
    --body_bag: white;
    --mainCardBackground: white;
    --white: white;
    --black: black;
    --naviconColor: #E3E3E3;
    --modetoggleHover: rgba(0, 0, 0, 0.722);
    --mainCardShadow: #B7B7B7;
    --socialLinksHoverBlue: rgba(172, 172, 246, 0.863);
    --contentBoxBackground: #CDCDCD;
    --contentCardsShadow: #bdbdbd;
    --projectLinkBackground: rgba(197, 197, 197, 0.486);
    --instagramQRBackground: white;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Signika Negative';
    padding: 0;
    border: var(--std-border);
}

body {
    background-color: var(--body_bag);
    max-width: 1200px;
    min-width: 1000px;
    margin-inline: auto;
}

.clock {
    position: absolute;
}

#navBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    padding: 10px;
}

#date,
#date>span {
    gap: 1em;
    display: flex;
    align-items: center;
}

#date>span {
    gap: 0.1em;
}

.navicons {
    gap: 15px;
    justify-content: space-around;
    display: flex;
    margin-inline: auto;
}

.navicons a {
    color: var(--black);
}

.navicons a:hover {
    animation-name: scaleUp;
    animation-timing-function: ease;
    animation-duration: 0.2s;
    transform: scale(1.08);
}

@keyframes scaleUp {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.08);
    }
}

#navBar a span {
    padding: 10px;
    background-color: var(--naviconColor);
    border-radius: 50%;
}

#modeSwitch:hover {
    animation: modeSwitchGlow 0.4s linear 1;
    background-color: var(--modetoggleHover);
}

@keyframes modeSwitchGlow {
    from {
        background-color: white;
    }

    50% {
        background-color: rgb(102, 102, 102);
    }

    to {
        background-color: var(--modetoggleHover);
    }
}

#time {
    display: flex;
    gap: 0.5em;
    padding-inline: 1em;
}


/* mainCard styling */

.mainCard {
    box-shadow: 2px 2px 4px var(--mainCardShadow);
    display: flex;
    background: var(--mainCardBackground);
    width: 700px;
    justify-content: space-around;
    padding: 20px;
    margin-left: 10%;
    border-radius: 20px;
    margin-top: 50px;
}

.ProfilePic img {
    width: 250px;
    padding: 20px;
    border-radius: 50%;
}

.socialLinks span a {
    color: unset;
}

.socialLinks span {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.socialLinks span i {
    padding: 10px;
    border-radius: 50%;
    font-size: x-large;
}

.socialLinks span i:hover {
    animation: socialLinksFillBlue 0.4s linear;
    background-color: var(--socialLinksHoverBlue);
}

#instagramLink {
    margin-top: 0px;
}

#instagramLink i {
    animation: none;
    background-color: transparent;
}

#instagramQR {
    width: 200px;
    display: none;
    position: absolute;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--instagramQRBackground);
}

#instagramLink:hover #instagramQR {
    display: block;
    animation: collapse 0.5s ease;
}


@keyframes socialLinksFillBlue {
    from {
        background-color: inherit;
    }

    to {
        background-color: var(--socialLinksHoverBlue);
    }
}

.infoText {
    padding: 20px;
    text-align: center;
    align-content: center;
    margin-top: 10%
}

/* Content Tyling */
.content {
    margin-top: 20px;
    background-color: var(--contentBoxBackground);
    border-radius: 25px 10px 10px 25px;
    padding: 20px;
}

.contentCards {
    overflow: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.contentCard1,
.contentCard2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 20px;
    background-color: var(--white);
    box-shadow: 4px 4px 4px var(--contentCardsShadow);
    border-radius: 20px;
    cursor: pointer;
    /* width: 200px; */
    min-width: 200px;
}

.contentCard2 {
    margin-left: 20px;
}

.contentCard2 a {
    display: flex;
    justify-content: center;
}

.card1Visible,
.contentCard2 {
    display: flex;
    flex-direction: column;
}

.card1Visible img,
.contentCard2 img {
    margin: auto;
    align-self: center;
    width: 100px;
}

#proText,
#noteText {
    font-size: 3em;
    display: none;
    color: var(--black);
    margin-top: 10px;
    margin-bottom: 0px;
}

.contentCard1:hover img,
.contentCard2:hover img {
    animation: fade 0.2s ease-out;
    opacity: 0.5;
}

.contentCard1:hover #proText,
.contentCard2:hover #noteText {
    display: block;
    opacity: 1;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    text-decoration-line: none;
    animation-name: collapse;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.5;
    }
}

@keyframes collapse {
    from {
        display: none;
        font-size: 1em;
        opacity: 0;
    }

    to {
        display: block;
        opacity: 1;
        font-size: 2em;
    }
}

.projects {
    padding: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: none;
}

.projects a {
    background-color: var(--projectLinkBackground);
    padding: 5px;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
    color: var(--black);
}