:root {
    /* --std-border: 1px solid black; */
    --std-border : none;
}

* {
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
    border: var(--std-border);
    padding: 1;
}

body {
    max-width: 1200px;
    min-width: 1000px;
    margin-inline: auto;
}

#navBar {
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    width: 400px;
    padding: 10px;
    margin-inline: auto;
}

#navBar a {
    color: black;
}

#navBar a:hover {
    animation-name: scaleUp;
    animation-timing-function: ease;
    animation-duration: 0.2s;
    transform: scale(1.08);
}

@keyframes scaleUp {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.08);
    }
}

#navBar a span {
    padding: 10px;
    background-color: #E3E3E3;
    border-radius: 50%;
}

#modeSwitch:hover {
    animation: modeSwitchGlow 0.4s linear 1;
    background-color: rgba(0, 0, 0, 0.722);
}

@keyframes modeSwitchGlow {
    from {
        background-color: white;
    }

    50% {
        background-color: rgb(102, 102, 102);
    }

    to {
        background-color: rgba(0, 0, 0, 0.722);
    }
}

/* mainCard styling */

.mainCard {
    box-shadow: 2px 2px 4px #B7B7B7;
    display: flex;
    width: 700px;
    justify-content: space-around;
    padding: 20px;
    margin-left: 10%;
    border-radius: 20px;
    margin-top: 50px;
}

.ProfilePic img {
    width: 250px;
    padding: 20px;
    border-radius: 50%;
}

.socialLinks span {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.socialLinks span i {
    padding: 10px;
    border-radius: 50%;
    font-size: x-large;
}

.socialLinks span i:hover {
    animation: socialLinksFillBlue 0.4s ease;
    background-color: rgba(0, 0, 255, 0.548);
}

@keyframes socialLinksFillBlue {
    from {
        background-color: inherit;
    }

    to {
        background-color: rgba(172, 172, 246, 0.863);
    }
}

.infoText {
    padding: 20px;
    text-align: center;
    align-content: center;
    margin-top: 10%
}

/* Content Tyling */
.content {
    margin-top: 20px;
    background-color: #CDCDCD;
    border-radius:5px ;
    padding: 20px;
}

.contentCards {
    overflow: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.contentCard1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 20px;
    background-color: white;
    box-shadow: 4px 4px 4px #bdbdbd;
    border-radius: 20px;
    /* width: 200px; */
    min-width: 200px;
}

.cardVisible {
    display: flex;
    flex-direction: column;
}
.cardVisible img {
    margin: auto;
    align-self: center;
    width: 100px;
}

#proText {
    font-size: 3em;
    display: none;
    color: black;
}

.contentCard1:hover img {
    animation: fade 0.2s ease-out;
    opacity: 0.5;
}

.contentCard1:hover #proText {
    display: block;
    opacity: 1;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    text-decoration-line: none;
    animation: collapse 0.2s ease-out 0ms 1;
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.5;
    }
}

@keyframes collapse {
    from {
        display: none;
        font-size: 1em;
        opacity: 0;
    }

    to {
        display: block;
        opacity: 1;
        font-size: 2em;
    }
}

.projects {
    padding: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: none;
}

.projects a {
    background-color: rgba(197, 197, 197, 0.486);
    padding: 5px;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
    color: black;
} 