
backup/css/notes.css
backup/images/back.jpg
backup/images/linkTree_icon.png
backup/js/notes.js
backup/Notes/API_Notes.txt
backup/Notes/learn-CSS.txt
backup/Notes/learn-js-basics.txt
backup/Notes/learner-html.txt
backup/old_designs/june22/images/nav-bag.jpg
backup/old_designs/june22/images/page-bag.webp
backup/old_designs/june22/images/profile-img.png
backup/old_designs/june22/images/spiderman.jpg
backup/old_designs/june22/images/unnamed.jpg
backup/old_designs/june22/index.html
backup/old_designs/june22/style.css
backup/old_designs/nov22/index.css
backup/old_designs/nov22/index.html
backup/pages/notes.html
backup/pages/project.html
backup/projects/7segment/index.css
backup/projects/7segment/index.html
backup/projects/7segment/index.js
backup/projects/_dark-mode-Css/index.html
backup/projects/_dark-mode-Css/style.css
backup/projects/_digital-clock/index.html
backup/projects/_digital-clock/style.css
backup/projects/_Phoenix/.DS_Store
backup/projects/_Phoenix/Design/.DS_Store
backup/projects/_Phoenix/Design/FintechWebApp.fig
backup/projects/_Phoenix/images/bubble.png
backup/projects/_Phoenix/images/graph.png
backup/projects/_Phoenix/images/home.png
backup/projects/_Phoenix/images/Info.png
backup/projects/_Phoenix/images/phoenix.png
backup/projects/_Phoenix/index.html
backup/projects/_Phoenix/login.html
backup/projects/_Phoenix/Phoenix.md
backup/projects/_Phoenix/style.css
backup/projects/calcWithJS/index.html
backup/projects/calcWithJS/index.js
backup/projects/calcWithJS/style.css
backup/projects/skyline/index.html
backup/projects/skyline/styles.css
backup/working/images/backgroundImage.jpg
backup/working/images/backgroundImage.png
backup/working/images/home.png
backup/working/images/instagraQR.jpg
backup/working/images/profileImage.png
backup/working/images/profilePic.gif
backup/working/images/visitUsBtn.png
backup/working/walkbuddy.gif
backup/working/working.css
backup/working/working.html
backup/working/working.js
backup/working/workingCat.gif
