:root {
    --std-border : none;
    /* --std-border : 1px solid black; */
}

* {
    border: var(--std-border);
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 250px;
    gap: 50px;
    border: 2px solid goldenrod;
    border-radius: 25px;
    margin: auto;
}
#main-box {
    margin: auto;
    display: grid;
    width: 65%;
    justify-content: center;
    align-items: center;
    grid-template-columns: 33% 33% 33%;
}
.box {
    cursor: pointer;
    height: 50px;
    margin-top: 2px;
    background-color: white;
    pointer-events: all;
    width: 50px;
}