@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

:root {
    --containerSize: 2rem;
}


.home-page>* {
    min-height: 100vh;
    max-height: fit-content;
}

/* pageBg section styling */

#pageBg {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(80px);

    .circle-2,
    .circle-3,
    .circle-1,
    .circle {
        position: absolute;
        top: 20%;
        left: 30%;
        border-radius: 50%;
        height: 500px;
        width: 500px;
        background-color: white;
        opacity: 0.1;
    }
    
    .circle-1 {
        height: 250px;
        width: 250px;
        bottom: 10%;
        right: 20%;
        opacity: 0.15;
    }
    .circle-2 {
        height: 150px;
        width: 150px;
        bottom: 10%;
        right: 90%;
        opacity: 0.20;
    }
    .circle-3 {
        height: 100px;
        width: 100px;
        bottom: 0%;
        right: 10%;
        opacity: 0.25;
    }
}

/* Hero section styling */

#home {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'DM Mono';
    letter-spacing: 0.18em;
    font-weight: 500;
    color: #F5F5F5;

    .homeHeroSection-1 {
        width: min(96%, 1200px);
        font-size: 2.5rem;
        display: grid;
        grid-template-columns: 70% 30%;
        max-height: 70%;
        height: 70%;
        align-items: stretch;
        justify-content: stretch;
        padding: 5% 0;

        .welcomeText {
            width: 100%;
            text-align: left;
            display: flex;
            justify-content: center;
            flex-direction: column;

            p {
                flex-wrap: wrap;
                align-items: baseline;

                i {
                    opacity: 0.85;
                }

                .name {
                    font-size: 4rem;
                    font-weight: bold;
                    font-style: normal;
                    opacity: 1;
                }
            }
        }


        .devicesAnimationContainer {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 100%;
                aspect-ratio: 1;
                overflow: visible;

                path {

                    min-width: 100%;
                    max-width: 100%;
                    aspect-ratio: 1;

                    stroke: #DFD1E1;
                    transform-origin: 50% 50%;

                    stroke-dasharray: 0;
                    stroke-dashoffset: 0;
                    animation: draw 10s linear forwards;

                    @keyframes draw {
                        from {
                            opacity: 0;
                            stroke-dashoffset: 2000;
                            stroke-dasharray: 2000;
                        }

                        to {
                            opacity: 1;
                            stroke-dashoffset: 0;
                            stroke-dasharray: 0;
                        }
                    }
                }
            }
        }
    }

    .changingText {
        font-size: 1.5rem;

        .line-1 {
            margin: 0 auto;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            box-sizing: content-box;
            max-width: 100%;
        }

        /* extra spacing after last letter */
        .line-1::after {
            content: "|";
        }

        /* Animation */
        .anim-typewriter {
            max-width: 100%;
            width: max-content;
        }
    }

    .scrollDownIndicator {
        transition: 0.3s;
        cursor: pointer;
        user-select: none;

        &:hover {
            scale: 0.8;
        }
    }

    .responsiveText {
        display: none;
    }

}

/* Exp section styling */

#exp {
    font-family: 'DM Mono';
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem 0;

    .theTimeline {
        width: 100%;
        text-align: center;
        margin-top: 1em;


        .timelineContainer {
            position: relative;
            margin-top: 2em;
            padding: 2em;
            font-family: "Do Hyeon";
            user-select: none;
            width: 100%;
            overflow: auto;

            &::-webkit-scrollbar {
                display: none;
            }

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                min-height: 20px;
                min-width: 20px;
                background-color: #BBBB88;
                clip-path: polygon(50% 0, 100% 50%, 50% 100%);
                left: 2rem;
                transform: translate(-50%, -30%) rotate(180deg);
            }

            .timelineLine {
                min-height: 5px;
                background-color: #BBBB88;
            }

            /* 
            .timelineLine {
                width: 100%;
                height: 20px;
            }
            */

            .experienceInfoContainer {
                display: flex;
                flex-direction: column;
                width: max-content;
                align-items: start;
                margin-left: 10em;
                min-width: fit-content;

                .experienceInfo {
                    text-align: left;
                    line-height: 1.5em;
                    letter-spacing: 0.2rem;
                    font-size: 1.1rem;

                    .companyName {
                        color: #C6B06D;
                        cursor: pointer;
                        text-decoration: underline;
                        text-underline-offset: 0.3rem;
                    }
                }

                .VerticalLine {
                    padding-left: 2em;
                    margin-top: 1em;
                }
            }

            .belowTheTimeline,
            .aboveTheTimeline {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-evenly;
                width: max-content;
                min-width: 100%;
                gap: 5%;
                padding-right: 10rem;
            }

            .aboveTheTimeline {
                border-bottom: 3px solid #BBBB88;

                .experienceInfoContainer {
                    margin-bottom: -0.5rem;
                }
            }

            .belowTheTimeline {
                margin-top: -3px;
                border-top: 3px solid #BBBB88;
                margin-left: 10%;

                .experienceInfoContainer {
                    margin-top: -1rem;
                }
            }

        }

    }

    .otherResponsibilities {

        width: 100%;
        text-align: center;
        margin: 3rem 0;


        .responsibilityTexts {
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            justify-content: flex-start;
            width: fit-content;
            margin-inline: auto;
            text-align: left;

            .responsibilityText {
                font-style: italic;
            }
        }
    }


}

/* projects section styling */

#project {

    padding: 1rem;
    word-wrap: 100%;
    width: 90%;
    margin-inline: auto;
    font-family: 'DM Mono';
    position: relative;


    h1 {
        text-align: center;
    }

    .goRight {
        right: 0;
    }

    .goLeft {
        left: 0;
    }

    .goRight,
    .goLeft {
        position: absolute;
        top: 50%;
        transition: 0.3s;
        transform: translateY(-50%);
        z-index: 10;

        svg {
            height: 2rem;
            aspect-ratio: 2;
        }

        &:hover {
            scale: 1.2;
        }
    }


    .flex {
        display: flex;
        align-items: center;
    }

    .projectShowcaseContainer {
        overflow-x: auto;
        overflow-y: hidden;
        max-height: min(100%, 95dvh);
        align-items: center;
        position: relative;
        z-index: 5;

        &::-webkit-scrollbar {
            display: none;
        }



        .projectShowcase {
            margin-top: 3rem;
            min-width: 90%;
            margin-inline: 5%;
            padding: 1rem;

            .projectPrevImg {
                margin-inline: auto;
                width: 90%;
                aspect-ratio: 1.77;

                img {
                    width: 100%;
                    border-radius: 0.5rem;
                }
            }

            .projectDetails {
                margin-top: 1rem;
                flex-direction: column;
                gap: 1rem;
                align-items: center;

                img {
                    aspect-ratio: 1;
                    height: 2rem;
                }

                .nameAndStack {
                    width: 100%;
                    display: flex;


                    .name {
                        font-size: 1.6rem;
                        font-weight: bold;
                        width: max-content;
                    }

                    .linksAndStack {
                        margin-left: 2rem;
                        justify-content: space-between;
                        width: 100%;
                        display: flex;
                        gap: 1rem;

                        .links,
                        .stack {
                            cursor: pointer;
                            gap: 1rem;
                        }
                    }
                }

                .projectDesc {
                    margin-top: 2rem;
                }
            }
        }
    }

}


/* contact section styling */

#contact {

    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;

    .icons-nd-form {
        width: 90%;
        display: grid;
        grid-template-columns: 55% 45%;
        gap: 2rem;
        margin: 3rem auto;
        justify-content: center;
        align-items: center;

        .icons {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            width: 80%;
            gap: clamp(2%, 3rem, 5%);
            margin-inline: auto;


            .icon {
                padding: clamp(2%, 0.8rem, 10%);
                background: #464c3747;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #514c3e96;
                border-radius: 0.5rem;
                box-shadow: 1px 2px 25px 0 #33312aad;

                img {
                    aspect-ratio: 1;
                    width: 100%;
                    object-fit: contain;
                }
            }




            .col-span2 {
                grid-column: auto / span 2;
                aspect-ratio: auto;
            }
        }

        .form {
            background: #0f0f0e;
            max-width: 85%;
            border: 1px solid #514c3e96;
            box-shadow: 1px 2px 25px 0 #343430ad;
            display: flex;
            flex-direction: column;
            border-radius: 5%;
            justify-content: space-around;
            gap: 1.5rem;
            margin-inline: auto;
            padding: 2rem;

            button,
            textarea,
            input {
                all: unset;
                padding: 0.8rem 1rem;
                background: #46494030;
                color: #C4DB7E;
                border-radius: 0.5rem;
                font-weight: bold;
                font-size: 1.2rem;

                &::placeholder {
                    color: #C4DB7E;
                }
            }

            a,
            button {
                color: unset;
                border: unset;
                text-decoration: none;
                background-color: #a4ba69;
                color: #1E1E1E;
                text-align: center;
                user-select: none;
                cursor: pointer;
                transition: 0.3s;
                border-radius: 0.5rem;

                &:active {
                    scale: 0.96;
                }
            }
        }

    }

    .bottomSection {
        margin: 3rem auto 1rem auto;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: max(45%, 350px);

        .icon {
            transition: 0.2s;

            &:hover {
                cursor: pointer;
                scale: 0.95;
            }
        }
    }

}

/* guessNumberComp styling */

#guessNumberComp {
    margin: 2rem auto;
    height: max-content;
    min-height: max-content;
    max-height: max-content;
    text-align: center;
    max-width: 100%;

    .counter-container {
        max-width: 100%;
        margin: 50px auto;
        text-align: center;
    }

    .counter {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        max-width: 95vw;
        width: 100%;
        overflow: hidden;
    }

    .counter span {
        font-size: 3rem;
        font-weight: bold;
        padding: 10px;
        border-radius: 10px;
        margin: 0 5px;
    }

    .bottomText {
        font-size: 1.2rem;
        margin: 2rem 0;
    }

}

/* site-details styling */

#site-details {
    max-width: 100%;
    opacity: 0.8;
    overflow: hidden;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
    max-height: fit-content;
    min-height: fit-content;
    height: fit-content;

    a {
        all: unset;
    }

    a:hover {
        text-decoration: underline;
        text-underline-offset: 0.2rem;
        cursor: pointer;
    }
}