@media only screen and (max-width: 600px) {
    nav {

        .navItem {
            display: none;
        }

        .hamburgerMenu {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding-inline: 3rem;

            .hamburgerIcon {
                width: 2rem;

                svg {
                    width: 100%;
                }
            }

            .hidden {
                visibility: hidden;
                opacity: 0;
            }

            .visible {
                visibility: visible;
            }

            .hamburgerMenuPopup {
                position: absolute;
                top: 100%;
                right: 2%;
                display: flex;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                background-color: #0f0e0e7e;
                border-radius: 1rem;
                backdrop-filter: blue(25px);
                padding: 1rem;
                transition: 0.2s;
            }
        }
    }
}