:root {
    --def-text-color: #efeacb;
    --border-col: #d5d5d577;
    --bag-col: linear-gradient(to right, #ffffff03, #ffffff18, #ffffff01);
}

a {
    all: unset;
}

#ProjectPg {
    height: 100%;
    padding: 2.5%;
    display: grid;
    grid-template-rows: 18% unset;
}

#ProjectPg-heading {
    color: var(--def-text-color);
    margin-bottom: 5%;
}

.ProjectPg-projectsContainer::-webkit-scrollbar {
    display: none;
}

.ProjectPg-projectsContainer {
    width: 90%;
    display: flex;
    gap: 2%;
    margin-inline: auto;
    border-radius: 12px;
    padding: 3%;
    background: var(--bag-col);
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: 2px 2px 50px 15px #ffffff10;
}

.ProjectCard::-webkit-scrollbar {
    display: none;
}  

.ProjectCard {
    min-width: 31%;
    overflow-y: auto;
    padding: 8px;
    border-radius: 12px;
    border: 2px solid var(--border-col);
}

.projectImg {
    width: 100%;
    padding: 2.5%;
    margin-inline: auto;
}

.projectImg>img {
    border-radius: 12px;
    width: 100%;
    aspect-ratio: 1.77;
}

.projectTitle:hover {
    --def-text-color: #ddea54;
    cursor: pointer;
}

.projectTitle {
    text-decoration: none;
    color: var(--def-text-color);
    transition: 0.5s;
    padding-bottom: 3px;
    margin-bottom: 12px;
    border-bottom: 2px solid var(--def-text-color);
    width: fit-content;
    margin-inline: auto;
}

.projectDesc {
    text-align: left;
    font-size: 1em;
}