/* rotating bars styling */
/* container must be 1:1 */
:root {
    --bar-height : 100%;
}
#rotationBars-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:15px 30px;
    
    /* styling to use independently */
    /* width: 100%; */
    /* height: 100%; */
    /* position: relative; */
    /* top: 0; */
    /* left: 0; */
    
}

.rectangle {
    width: calc(var(--bar-height) * 0.12);
    height: var(--bar-height);
    max-height: 30vw;
    position: absolute;
    transform-origin: 50% 60%;
    animation: rotate 5s infinite;
    border-radius: 1vw;

}

.pivot {
    --height: calc(var(--bar-height) * 0.12);
    position: absolute;
    /* height: var(--height); */
    /* width: var(--height); */
    height: 15%;
    width: 15%;
    background: url(../images/sphere.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    /* transform-origin: center; */
    /* transform: translateY(calc(60% + var(--height))); */
    transform: translateY(78%);
}

#rectangle1 {
    animation-duration: 5s;
    animation-timing-function: linear;
    background: #FCE9F1;
    /* height: 320px; */
}

#rectangle2 {
    animation-duration: 7s;
    animation-timing-function: ease;
    background: #F1D4E5;
    transform: rotate(15deg);
    /* height: 350px; */
}

#rectangle3 {
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
    background: #73BBC9;
    transform: rotate(35deg);
    /* height: 360px; */
}

#rectangle4 {
    animation-duration: 9s;
    animation-timing-function: ease;
    background: #c47ec5;
    transform: rotate(30deg);
    /* height: 300px; */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@media only screen and (max-width: 480px) {
    .pivot {
        height: 20px;
        width: 20px;
    }   
}