#NotResponsive {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(41, 53, 65, 0.245);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    z-index: 3;
}

#NotResponsive>div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: x-large;
    color: #d4cbea;
    font-weight: bold;
}

#NotResponsive button:hover {
    box-shadow: 0px 0px 12px 2px #c9d4ef3a;
    cursor: pointer;
}

#NotResponsive button {
    all: unset;
    font-size: 1em;
    width: 70%;
    font-weight: bold;
    color: rgb(206, 223, 239);
    padding: 0.5em 0.1em;
    margin-inline: auto;
    border: 2px solid rgb(206, 223, 239);
    box-shadow: 0px 3px 100px 6px #c9d4ef0a;
    border-radius: 12px;
    transition: 0.3s;
}

#NotResponsive.fadeout {
    animation: fadeout 0.8s ease;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    to {
        opacity: 0;
        display: none;
    }
}