@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');

:root {
  --text-color: #FCE9F1;
  --light-bg: #F1D4E5;
  --light-bl: #73BBC9;
  --dark-bg: #080202;
  --dark-shadow: #08020236;
  --light-shadow: #f1d4e543;
}

#resize-pg-btn {
  padding: 0.3em 0.6em;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.391);
  width: fit-content;
  position: absolute;
  bottom: 1em;
  right: 1em;
  z-index: 999;
}

.App {
  text-align: center;
}

/* dashboard component styling */

#Dashboard-container {
  perspective: 100px;
  position: relative;
  bottom: 1em;
  margin-top: 2em;
  width: 100%;
}

#Dashboard:hover {
  box-shadow: 0px 2px 3px var(--light-shadow);
}

#Dashboard {
  font-family: 'Kanit';
  background: var(--light-bg);
  color: var(--dark-bg);
  text-align: center;
  transform: rotateX(10deg);
  padding: 10px 50px;
  border-radius: 0.7em;
  display: flex;
  justify-content: space-around;
  gap: 1em;
  width: fit-content;
  margin-inline: auto;
  perspective: 100px;
}

.Dash-btn-active {
  user-select: none;
  box-shadow: 0px 3px 6px var(--dark-shadow);
  transform: translateY(-3px);
  transition: 0.3s;
  text-shadow: 0px 2px 1px var(--dark-shadow);
}

.Dash-btn:hover {
  user-select: none;
  box-shadow: 0px 3px 6px var(--dark-shadow);
  transform: translateY(-3px);
  transition: 0.3s;
  text-shadow: 0px 2px 1px var(--dark-shadow);
}

.Dash-btn {
  cursor: pointer;
  border: 1px solid var(--dark-shadow);
  padding: 0.2em 0.6em;
  border-radius: 0.2em;
  font-size: 1.5em;
}

/* Homepage component styling */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

#Homepage,
.page {
  margin-inline: 2.5%;
  min-height: calc(100vh - 130px);
  margin-top: 2em;
  padding: 2em;
  border-radius: 1em;
  color: var(--text-color);
}

#Homepage::-webkit-scrollbar {
  display: none;
}

#Homepage {
  display: grid;
  align-items: center;
  gap: 0;
  font-family: 'Work Sans';
  color-interpolation-filters: var(--text-color);
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(100vh - 130px);
}
  
#Homepage-hero * {
  margin-top: 0;
  margin-bottom: 0;
}

#down-arrow {
  height: 2em;
  width: 2em;
  position: relative; 
  background: rebeccapurple;
  margin-inline: auto;
  top: 5em;
  background: url(./icons/downarrow.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-size: initial;
  animation: bounce 1s ease 2 5s;
}

@keyframes bounce {
   from {
    top: 5em;
   }
   50% {
    top: 4.2em;
   }
   to {
    top: 5em;
   }
}

/* .Homepage-hero-content:hover {
  background: linear-gradient(#eee, #d2d1d1, #a3a2a2, #7c7c7c, #464646, #212121, #3a3a3a, #464646, #7c7c7c, #a3a2a2, #d2d1d1, #eee);
  background-size: 100% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-text 10s ease-in-out infinite;
}

@keyframes animate-text {
  from {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 200%;
  }
  to {
    background-position: 0% 0%;
  }
} */

#Homepage-hero {
  user-select: none;
  width: fit-content;
  margin-inline: auto;
  text-align: left;
  font-size: 1.3em;
  min-height: calc(100vh - 130px);
  display: grid;
  justify-content: center;
  align-items: center;
}

.Homepage-hero-content b {
  font-size: 3.1em;
}

.semi-hidden {
  opacity: 0.3;
  margin-top: 1em;
}

/* *** */

#Homepage-qualification  * {
  user-select: none;
}

.icon {
  width: 0.8em;
  height: 0.8em;

}

#skills-pg {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 49% 50%;
}

#skills-pg-bgimg {
  display: inline;
  height: 100%;
}

#TV {
  position: relative;
  /* left: 50%; */
  display: inline-flex;
  margin-top: 10%;
  /* width: 50%; */
  flex-wrap: wrap;
  perspective: 80em;
  transform-style: preserve-3d;
}

.skill-pg-box:not(:nth-last-child(2)), .skill-pg-box:not(:nth-last-child(1)) {
  margin-left: 130px;
  margin-bottom: 10%;
}

.skill-pg-box {
  display: flex;
  justify-self: center;
  align-items: center;

  width: fit-content;
  max-width: 600px;
  padding: 1em;
  gap: 1em;

  box-shadow: 2px 2px 10px 0px rgba(232, 232, 232, 0.511);
  background-color: var(--dark-bg);
  border: 1px solid var(--light-bg);
  border-radius: 2em;

  transform: rotateY(-20deg);
  perspective: 1000px;
  transform-style: preserve-3d;

  transition: 1s;
}

.skill-pg-box>text {
  width: 0px;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  margin-left: 10em;
  text-align: left;
  width: 80px;
  position: absolute;
}

.skill-pg-box>img {
  width: 100px;
  height: auto;
  transition: 1.3s;
  transition-timing-function: ease;
}

.skill-pg-box:hover>text {
  visibility: visible;
  
  opacity: 1;
}

.skill-pg-box:hover>img {
  position: relative;
  transform: translateZ(50px);
  border: 1px solid var(--light-shadow);
  box-shadow: 2px 2px 5px 0px var(--light-shadow);
}