:root {
    --lightB1: #DFF6FF;
    --lightB2: #47B5FF;
    --darkB1: #1363DF;
    --darkB2: #06283D;
    --dark: #252525;
    --white: #ffffff;
    /* --std_border: var(--dark) 1px solid; */
    --std_border: none;
}

body::-webkit-scrollbar, .profileContainer::-webkit-scrollbar  {
    width: 15px;
    height: 15px;
}

body::-webkit-scrollbar-track, .profileContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb, .profileContainer::-webkit-scrollbar-thumb {
    background-color: var(--lightB1);
    outline: 1px solid var(--lightB1)
    ;
}

* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: var(--std_border);
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
}

.flex1 {
    width: 73%;
    padding: 50px;
}

.profileContainer {
    padding: 50px;
    background-color: var(--lightB2);
    display: flex;
    border-radius: 5vh;
}

.ProfileImage img {
    border-radius: 50%;
    margin-right: 50px;
    width: 250px;
}

.SocialHandels {
    display: flex;
    width: 250px;
    padding-top: 10px;
    justify-content: space-evenly;
}

#name {
    font-size: 60px;
}

#helloText {
    font-size: 25px;
}

.fa-github {
    color: #000000;
}

.fa-linkedin-in {
    color: rgb(0, 0, 45);
}

.fa-twitter {
    color: rgb(39, 39, 255);
}

.fa-envelope {
    color: rgb(28, 28, 28)
}

/* ProjectContainer styling  */
.projectContainer {
    width: 70%;
    border-radius: 5vh;
    margin-top: 50px;
    margin-inline: auto;
    background-color: var(--lightB2);
    display: flex;
    padding: 20px;
    overflow: auto;
}

.projectLinks legend {
    font-size: xx-large;
    font-weight: bold;
}

.FieldsetBox {
    border: 2px soldi black;
}

.projectLinks {
    padding: 10px;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.projectLinks a button {
    background-color: transparent;
    border: 1px solid #ccc !important;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.154);
    border-radius: 10px;
    padding: 5px;
    letter-spacing: 1px;
}

.projectLinks a button:active {
    box-shadow: none;
    transform: scale(0.9);
}

.projectLinks a button:hover {
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.417);
}

.projectLinks a {
    margin-inline: 10px;
}


/* flex2 styling */
.flex2 {
    width: 25%;
    padding: 10px;
}

/* clockContainer styling  */
.clockContainer {
    background-color: var(--lightB2);
    display: flex;
    flex-direction: column;
    border-radius: 5vh;
    padding: 10px;
}

.clockTitle {
    text-align: center;
}

.clock {
    text-align: center;
}

#mm::after,
#hh::after {
    content: " : ";
}

.date {
    text-align: center;
}

#MM::after,
#DD::after {
    content: " / ";
}

/* rightContainer styling  */
.rightContainer {
    margin-top: 50px;
    background-color: var(--lightB2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5vh;
    padding: 20px;
}

.Box1 {
    text-align: center;
}

.Notes {
    margin-top: 10px;
    margin-inline: auto;
}

.Notes a button {
    background-color: transparent;
    border: 1px solid #ccc !important;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.154);
    border-radius: 10px;
    padding: 5px;
    letter-spacing: 1px;
}

.Notes a button:active {
    box-shadow: none;
    transform: scale(0.9);
}

.Notes a button:hover {
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.417);
}


@media only screen and (max-width:840px) {

    .mainContainer {
        display: flex;
        flex-direction: column-reverse;
    }

    .flex1 {
        width: 100%;
        margin-inline: 10px;
        margin-top: 0;
    }
    .ProfileImage img {
        width: 200px;
    }
    #name {
        font-size: x-large;
    }

    .flex2 {
        padding-inline: 50px;
        padding-top: 50px;
        width: 100%;
    }

}