.App {
  text-align: center;
  color: #d7dcdc;
}

#animatedSticks {
  height: 15vw;
  width: 15vw;
  position: absolute;
  bottom: 10%;
  right: 5%;
}
#defaultPg {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding-bottom: 1%;
}
#defpg-child-pg::-webkit-scrollbar {
  display: none;
}
#defpg-child-pg {
  height: 90%;
  overflow: auto;
}
/* #default-navbar {
  height: 10%;
} */