:root {
    --test: #8080805d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    background-color: #0a0a0a;
}
body {
    color: #fcfcfc;
    max-width: 1440px;
    margin-inline: auto;
}

@import url(./styles/home.scss);
@import url(./styles/home-responsive.scss); /* responsive styles */
